@tailwind base;
@tailwind components;
@tailwind utilities;

/* Archivo CSS (app.css o globals.css) */
.progress-bar {
    @apply appearance-none w-full h-1 bg-gray-600 rounded-lg cursor-pointer outline-none;
  }
  
  .progress-bar::-webkit-slider-thumb {
    @apply appearance-none w-3 h-3 rounded-full bg-green-500 shadow-md;
  }
  
  .progress-bar::-moz-range-thumb {
    @apply w-3 h-3 rounded-full bg-green-500 shadow-md;
  }
  
  .progress-bar::-ms-thumb {
    @apply w-3 h-3 rounded-full bg-green-500 shadow-md;
  }

  @layer components {
    /* Estilos de la barra de desplazamiento */
    ::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #4B5563; /* Color del pulgar (gray-700) */
        border-radius: 6px;
    }

    ::-webkit-scrollbar-track {
        background: #121212; /* Color del track (gray-200) */
        border-radius: 6px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #374151; /* Color del pulgar al pasar el mouse (gray-800) */
    }
}
  